{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron" style="background-image:url()">
    <h1>项目详情</h1>
    <p class="lead">此处有背景图片</p>
    <p><a href="../index" class="btn btn-primary btn-large">查看详情</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>创建活动</h2>
        <p>
            此处有背景图片
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">查看详情&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>未审核活动</h2>
        <p>此处有背景图片</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">查看详情&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>已审核活动</h2>
        <p>此处有背景图片</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">查看详情&raquo;</a></p>
    </div>
</div>

{% endblock %}
