<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}-{{type}}端</title>
    {% load staticfiles %}
    <link href="{% static 'app/content/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/content/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/content/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/content/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'app/content/main.css' %}" rel="stylesheet">
    <link href="{% static 'app/content/responsive.css' %}" rel="stylesheet">

    <script src="{% static 'app/scripts/html5shiv.js' %}"></script>
    <script src="{% static 'app/scripts/respond.min.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand" style="font-size:x-large">学生综合测评系统</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">主页</a></li>
                    <li><a href="#">个人主页</a></li>
                    <li><a href="#">个人信息</a></li>
                    <li><a href="{% url 'construction' %}">完成度查看</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
            <div class="col-xs-9">
            </div>
        </div>
    </div>

{% block content %}{% endblock %}
  
    <footer id="footer" class="midnight-blue" style="position:fixed;bottom:0;left:0;width:100%;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                        ©对外经济贸易大学SEA------{{alert}}
                </div> 
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="{% url 'home' %}">主页</a></li>
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">联系我们@123456789</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{% static 'app/scripts/jquery.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/scripts/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'app/scripts/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'app/scripts/main.js' %}"></script>


</body>
</html>
