<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - 教师端</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" style="font-size:x-large">学生综合测评系统</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
				        <a class="dropdown-toggle" data-toggle="dropdown">
					            活动项目
					        <b class="caret"></b>
				        </a>
				        <ul class="dropdown-menu">
					        <li><a href="../ResearchIndex">科研立项</a></li>
					        <li><a href="../IdeologyConstructionIndex">思建活动</a></li>
					        <li><a href="../LectureIndex">讲座</a></li>
					        <li><a href="../VolunteeringIndex">志愿活动</a></li>
					        <li><a href="../SchoolActivityIndex">校园活动</a></li>
					        <li><a href="../InternshipIndex">实践实习</a></li>
					        <li><a href="../PaperIndex">科研论文</a></li>
					        <li><a href="../CompetitionIndex">学术竞赛</a></li>
					        <li><a href="../StudentCadreIndex">学生干部经历</a></li>
				        </ul>
			        </li>
                    <li class="dropdown">
				        <a class="dropdown-toggle" data-toggle="dropdown">
					            审核审批
					        <b class="caret"></b>
				        </a>
				        <ul class="dropdown-menu">
					        <li><a href="../ResearchIndex">科研立项</a></li>
					        <li><a href="../IdeologyConstructionIndex">思建活动</a></li>
					        <li><a href="../LectureIndex">讲座</a></li>
					        <li><a href="../VolunteeringIndex">志愿活动</a></li>
					        <li><a href="../SchoolActivityIndex">校园活动</a></li>
					        <li><a href="../InternshipIndex">实践实习</a></li>
					        <li><a href="../PaperIndex">科研论文</a></li>
					        <li><a href="../CompetitionIndex">学术竞赛</a></li>
					        <li><a href="../StudentCadreIndex">学生干部经历</a></li>
					        <li class="divider"></li>
					        <li><a href="../PaperIndex">论文</a></li>
					        <li><a href="../CompetitionIndex">学术竞赛</a></li>
					        <li><a href="../StudentCadreIndex">学生干部</a></li>
					        <li><a href="../ExchangeIndex">交流交换</a></li>
				        </ul>
			        </li>
                    <li><a href="{% url 'index' %}">个人信息</a></li>
                    <li><a href="{% url 'construction' %}">完成度查看</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
            <div class="col-xs-9">
            </div>
        </div>
    </div>

    <div class="container body-content">
{% block content %}{% endblock %}
    <hr/>
        <footer>
            <p style="text-align:right">———贸大SEA项目小分队</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>

    {% if alert != none %}
    <script>
        alert("{{alert}}");
    </script>
    {% endif %}


</body>
</html>
