{% extends "app/layout3.html" %}

{% block content %}
{% load staticfiles %}

<section class="style-default-bright">
    <div>
        <div class="row">
	        <div class="col-md-12">
		        <h2> 成绩列表 </h2>
	        </div><!--end .col -->
	        <div class="col-lg-12">
            	<div class="card">
				    <div class="card-body ">
		                <table class="table table-banded no-margin">
							<thead>
								<tr>
                                    {% if type == '学生端' %}
                                    <th>教师</th>
                                    {% endif%}
                                    {% if type == '教师端' or type == '管理员'%}
                                    <th>学生学号</th>
                                    <th>学生姓名</th>
                                    {% endif%}
									<th>课程名称</th>
									<th>课序号</th>
									<th>学分</th>
									<th>课程类别</th>
                                    <th>成绩</th>
								</tr>
							</thead>
							<tbody>
                                {% if list %}
                                    {% for s in list%}
                                    <tr>
                                        {% if type == '学生端' %}
                                        <td>{{ s.lesson.teacher.name }}</td>
                                        {% endif%}
                                        {% if type == '教师端' or type == '管理员'%}
                                        <td>{{s.student}}</td>
                                        <td>{{s.student.rankName}}</td>
                                        {% endif%}
									    <td>{{s.lesson.name}}</td>
									    <td>{{s.lesson.num}}</td>
									    <td>{{s.lesson.credit}}</td>
									    <td>{{s.lesson.classSort}}</td>
                                        <td>{{s.score}}</td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                {% if not list %}
                                    <tr>
                                        {% if type == '学生端' %}
                                        <td></td>
                                        {% endif%}
                                        <td></td>
                                        <td></td>
                                        <td><i>暂时没有记录</i></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
							</tbody>
						</table>
                    </div>
                </div>
	        </div><!--end .col -->
        </div>

        {#<hr class="ruler-xl">#}
       
    </div>
</section>

{% endblock %}

{% block jscript %}
<script src="{%static 'app/assets/js/libs/jquery-validation/dist/jquery.validate.min.js'%}"></script>
<script src="{%static 'app/assets/js/libs/jquery-validation/dist/additional-methods.min.js'%}"></script>
<script src="{%static 'app/assets/js/libs/wizard/jquery.bootstrap.wizard.min.js'%}"></script>
<script src="{%static 'app/assets/js/libs/DataTables/jquery.dataTables.min.js'%}"></script>

<script src="{%static 'app/assets/js/libs/DataTables/extensions/ColVis/js/dataTables.colVis.min.js'%}"></script>
<script src="{%static 'app/assets/js/libs/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js'%}"></script>
<script src="{%static 'app/assets/js/core/demo/DemoFormComponents.js'%}"></script>

<script src="{%static 'app/assets/js/core/demo/DemoFormWizard.js'%}"></script>
<script src="{%static 'app/assets/js/core/demo/DemoUIMessages.js'%}"></script>

{% endblock %}

{%block css%}
<link type="text/css" rel="stylesheet" href="{%static 'app/assets/css/theme-5/libs/wizard/wizard.css'%}" />
<link type="text/css" rel="stylesheet" href="{%static 'app/assets/css/theme-5/libs/DataTables/jquery.dataTables.css'%}"/>
<link type="text/css" rel="stylesheet" href="{%static 'app/assets/css/theme-5/libs/DataTables/extensions/dataTables.colVis.css'%}" />
<link type="text/css" rel="stylesheet" href="{%static 'app/assets/css/theme-5/libs/DataTables/extensions/dataTables.tableTools.css'%}" />

{%endblock%}