{% extends "app/layout3.html" %}

{% block content %}
{% load staticfiles %}

<section class="style-default-bright">
    <div>
        <div class="row">
	        <div class="col-md-12">
		        <h2> 论文列表 </h2>
                <br/>
	        </div><!--end .col -->
	        <div class="col-lg-12">
            	<div class="card">
				    <div class="card-body ">
                    <div><input name="filter_search" type="text" id="filter_search" placeholder="请输入活动关键字。" title="请输入活动关键字。" value="" size="40">
                      <button class="btn btn-info" type="submit" title="" data-original-title="搜索" onClick="search()">搜索</button>
                      <button class="btn btn-info" type="button" title="" data-original-title="清除" onClick="reset()" >清空</button></div>
                    <a onClick="ds()"><i class="fa fa-envelope-o">
                    </i><span class="menu-title" style="cursor:pointer">查看待审核活动</span></a>
                    <a onClick="np()"><i class="fa fa-bar-chart-o fa-fw">
                    </i><span class="menu-title" style="cursor:pointer">查看未通过活动</span></a>
                    <a onClick="p()"><i class="fa fa-bar-chart-o fa-fw">
                    </i><span class="menu-title" style="cursor:pointer">查看已通过活动</span></a>
                    <a onClick="allv()"><i class="fa fa-bar-chart-o fa-fw">
                    </i><span class="menu-title" style="cursor:pointer">查看所有活动</span></a>
                    </div>
		                <table class="table table-banded no-margin" id="mtab">
							<thead>
								<tr>
									<th>是否通过</th>
                                    {% if type == '管理员' or type == '辅导员' %}
                                    <th>学生学号</th>
                                    <th>学生姓名</th>
                                    {% endif%}
									<th>论文题目</th>
									<th>第几作者</th>
									<th>期刊名称</th>
                                    <th>期刊等级</th>
                                    <th>项目时间</th>
                                    <th>{% if type == '管理员' or type == '辅导员' %}审核{% endif%}
                                    {% if type == '学生端' %}查看{% endif%}</th>
								</tr>
							</thead>
							<tbody id="mainlist">
							</tbody>
						</table>
                    </div>
                </div>
	        </div><!--end .col -->
        </div>

        {#<hr class="ruler-xl">#}
        
        <div class="row">
		    <div class="col-lg-12">
            <h2> 添加论文 </h2>
            <br/>

            
			    <div class="card">
				    <div class="card-body ">
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
					        <strong>错误</strong> {{error}}
			        </div>
                    {% endif %}
                    {% if alert %}
                    <div class="alert alert-warning" role="alert">
				        <strong>警告</strong> {{alert}}
			        </div>
                    {% endif %}
                    {% if success %}
                    <div class="alert alert-success" role="alert">
				        <strong></strong> {{success}}
			        </div>
                    {% endif %}
					    <div id="rootwizard2" class="form-wizard form-wizard-horizontal">
											<form class="form floating-label form-validation" method="post" action="#" id="paperSubmit" role="form" novalidate="novalidate">
												<div class="form-wizard-nav">
													<div class="progress"><div class="progress-bar progress-bar-primary"></div></div>
													<ul class="nav nav-justified">
														<li class="active"><a href="#step1" data-toggle="tab"><span class="step">1</span> <span class="title">论文信息</span></a></li>
														<li><a href="#step2" data-toggle="tab"><span class="step">2</span> <span class="title">期刊信息</span></a></li>
													</ul>
												</div><!--end .form-wizard-nav -->
												<div class="tab-content clearfix">
													<div class="tab-pane active" id="step1">
                                                    <br/><br/>	
                                                    {% csrf_token %}
														<div class="form-group">
                                                            {{createForm.ProjectName}}
															<label for="title" class="control-label">{{createForm.ProjectName.label_tag}}</label>
														</div>
														<div class="form-group control-width-normal">
                                                            {{createForm.AuthorRanking}}											
															<label for="author" {#class="control-label"#}>{{createForm.AuthorRanking.label_tag}}	</label>
														</div>                                                        
                                                        <div class="form-group control-width-normal">
                                                            {{createForm.ProjectTime}}
                                                            <label>{{createForm.ProjectTime.label_tag}}</label>												                
											            </div>                                                    
													</div><!--end #step1 -->
													<div class="tab-pane" id="step2">
														<br/><br/>
														<div class="form-group">
                                                            {{createForm.JournalName}}
                                                            <label class="control-label">{{createForm.JournalName.label_tag}}</label>
														</div>
														<div class="form-group">
                                                            {{createForm.Rank}}
                                                            <label class="control-label">{{createForm.Rank.label_tag}}</label>
														</div>
                    {% if type == '辅导员' or type == '管理员'%}	
														<div class="form-group">
                                                            <input  type="text" class="form-control" name="stnn"/>
                                                            <label class="control-label">学生学号</label>
														</div>
                    {% endif %}
													</div><!--end #step2 -->
													
												</div><!--end .tab-content -->
												<ul class="pager wizard">								
               <li><a class="btn-raised" type="submit" href="javascript:void(0);" onclick="document.getElementById('paperSubmit').submit()" >提交</a></li>
												</ul>
											</form>
										</div><!--end #rootwizard -->
				    </div><!--end .card-body -->
			    </div><!--end .card -->
			    {#<em class="text-caption">Form wizard with validation</em>#}
		    </div><!--end .col -->
	    </div>
</section>



{% endblock %}

{% block jscript %}

<script>    
    var vl = [];var vlDS = [];var vlNP = [];var list = [];

    {%for viewlink in linksP%}
     vl.push(new Link("通过","{{viewlink.rl.student.StudentNum}}","{{viewlink.rl.student.rankName}}","{{viewlink.n}}","{{viewlink.l.rankName}}","{{viewlink.l.AuthorRanking}}","{{viewlink.l.journalName}}","{{viewlink.l.rank}}","{{viewlink.l.startingTime}}",{{viewlink.rl.id}}));
    {%endfor%} 
    {%for viewlink in linksDS%}
     vlDS.push(new Link("待审核","{{viewlink.rl.student.StudentNum}}","{{viewlink.rl.student.rankName}}","{{viewlink.n}}","{{viewlink.l.rankName}}","{{viewlink.l.AuthorRanking}}","{{viewlink.l.journalName}}","{{viewlink.l.rank}}","{{viewlink.l.startingTime}}",{{viewlink.rl.id}}));
    {%endfor%}  

    {%for viewlink in linksNP%}
     vlNP.push(new Link("未通过","{{viewlink.rl.student.StudentNum}}","{{viewlink.rl.student.rankName}}","{{viewlink.n}}","{{viewlink.l.rankName}}","{{viewlink.l.AuthorRanking}}","{{viewlink.l.journalName}}","{{viewlink.l.rank}}","{{viewlink.l.startingTime}}",{{viewlink.rl.id}}));
    {%endfor%}
    allv();

    function initial()
    {
    tab = document.getElementById("mtab");
    var num = tab.rows.length;
    if(num >1 )//清除表格
        {
        for(var i=1;i<num;i++){                           
        tab.deleteRow(1);
        }}

    if(list.length == 0)//添加空内容说明
    {
    var tr = document.createElement("tr");  
    var td1 = document.createElement("td");  

    {%if type == '辅导员' or type == '管理员'%}
    var tds1 = document.createElement("td"); 
    var tds2 = document.createElement("td"); 
    {%endif%}

    var tdtype = document.createElement("td");  
    var td2 = document.createElement("td");  
    var td3 = document.createElement("td");  
    var td4 = document.createElement("td");
    var td5 = document.createElement("td");  
    var td6 = document.createElement("td");  
    var tdedit = document.createElement("td");
    
    td3.innerHTML = "<i>暂时找不到记录</i>"; 

    tr.appendChild(td1); 
    {% if type == '管理员' or type == '辅导员' %}
    tr.appendChild(tds1); 
    tr.appendChild(tds2); 
    {% endif%}
    tr.appendChild(td2); 
    tr.appendChild(td3); 
    tr.appendChild(td4); 
    tr.appendChild(td5); 
    tr.appendChild(td6); 
    tr.appendChild(tdedit); 

    var listbody = document.getElementById("mainlist");  
    listbody.appendChild(tr); 
    }

    for(var i = 0;i<list.length;i++){
    var tr = document.createElement("tr");  
    var new_obj = list[i];

    var td1 = document.createElement("td");  
    td1.innerHTML = new_obj.status;

    {%if type == '辅导员' or type == '管理员'%}

    var tds1 = document.createElement("td");  
    tds1.innerHTML = new_obj.studentNum;

    var tds2 = document.createElement("td");  
    tds2.innerHTML = new_obj.studentName;
    {%endif%}

    var tdtype = document.createElement("td");  
    tdtype.innerHTML = new_obj.type;

    var td2 = document.createElement("td");  
    td2.innerHTML = new_obj.rankName;

    var td3 = document.createElement("td");  
    td3.innerHTML = new_obj.authorRanking;

    var td4 = document.createElement("td");  
    td4.innerHTML = new_obj.journalName;

    var td5 = document.createElement("td");  
    td5.innerHTML = new_obj.rank;

    var td6 = document.createElement("td");  
    td6.innerHTML = new_obj.startingTime;

    var tdedit = document.createElement("td");
    var check = (new_obj.status == "待审核")?"审核":"修改";
      
    tdedit.innerHTML = "{% if type == '管理员' or type == '辅导员' %}<a class='btn btn-info' href= '/Check/" + new_obj.id.toString() + "' >"+check+"</a>{% endif%}    <a class='btn btn-accent' href= '/Detail/" + new_obj.id.toString() + "'>查看</a>";
    
    tr.appendChild(td1); 
    {% if type == '管理员' or type == '辅导员' %}
    tr.appendChild(tds1); 
    tr.appendChild(tds2); 
    {% endif%}
    tr.appendChild(td2); 
    tr.appendChild(td3); 
    tr.appendChild(td4); 
    tr.appendChild(td5); 
    tr.appendChild(td6); 
    tr.appendChild(tdedit); 

    var listbody = document.getElementById("mainlist");  
    listbody.appendChild(tr);  
        }
    }

    function search()
    {
        var string = document.getElementById("filter_search").value;
        nlist = [];
        for(var i in list)
        {
            if ( list[i].rankName.indexOf(string) > -1)
            {
                nlist.push(list[i]);
            }
            else if ( list[i].studentName.indexOf(string) > -1)
            {
                nlist.push(list[i]);
            }
            else if ( list[i].journalName.indexOf(string) > -1)
            {
                nlist.push(list[i]);
            }
            else if ( list[i].studentNum.indexOf(string) > -1)
            {
                nlist.push(list[i]);
            }
        }
        list = nlist;
        initial();
    }
    function reset() {
        document.id('filter_search').value='';
        search();
    }
    function rank(rankname){
        list = [];
        for(var i in vl)
        {
            if ( vl[i].n.indexOf(rankname) > -1)
            {
                list.push(vl[i]);
            }
        }
        
        initial();
    }
    function p(){
        list = vl;
        initial();
    }
    function ds(){
        list = vlDS;
        initial();
    }
    function np(){
        list = vlNP;
        initial();
    }
    function allv(){
        list = vlDS.concat(vl,vlNP)
        initial();
    }
    function Link(status,StudentNum,StudentName,type,rankName,authorRanking,journalName,rank,startingTime,id) {
        this.status = status;
        this.studentNum = StudentNum;
        this.studentName = StudentName;
        this.type = type;
        this.rankName = rankName;
        this.authorRanking = authorRanking;
        this.journalName = journalName;
        this.rank = rank;
        this.startingTime = startingTime;
        this.id = id;
    }
</script>

<script src="{%static 'app/assets/js/libs/jquery-validation/dist/jquery.validate.min.js'%}"></script>
<script src="{%static 'app/assets/js/libs/jquery-validation/dist/additional-methods.min.js'%}"></script>
<script src="{%static 'app/assets/js/libs/wizard/jquery.bootstrap.wizard.min.js'%}"></script>
<script src="{%static 'app/assets/js/libs/DataTables/jquery.dataTables.min.js'%}"></script>

<script src="{%static 'app/assets/js/libs/DataTables/extensions/ColVis/js/dataTables.colVis.min.js'%}"></script>
<script src="{%static 'app/assets/js/libs/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js'%}"></script>
<script src="{%static 'app/assets/js/core/demo/DemoFormComponents.js'%}"></script>

<script src="{%static 'app/assets/js/core/demo/DemoFormWizard.js'%}"></script>
<script src="{%static 'app/assets/js/core/demo/DemoUIMessages.js'%}"></script>

{% endblock %}

{%block css%}
<link type="text/css" rel="stylesheet" href="{%static 'app/assets/css/theme-5/libs/wizard/wizard.css'%}" />
<link type="text/css" rel="stylesheet" href="{%static 'app/assets/css/theme-5/libs/DataTables/jquery.dataTables.css'%}"/>
<link type="text/css" rel="stylesheet" href="{%static 'app/assets/css/theme-5/libs/DataTables/extensions/dataTables.colVis.css'%}" />
<link type="text/css" rel="stylesheet" href="{%static 'app/assets/css/theme-5/libs/DataTables/extensions/dataTables.tableTools.css'%}" />

{%endblock%}