{% extends "app/layout3.html" %}

{% block content %}
<section>
    <div class="section-header">
						<ol class="breadcrumb">
							<li class="active">修改密码</li>
						</ol>
					</div>
    <br/>
    <div class="col-lg-offset-3 col-md-4 col-sm-6">
								<div class="card">
									<div class="card-body">
                                    	{% for item in error %}
		                                    <p style="color:red;">{{item}}</p>
	                                    {% endfor %}
										<form class="form" form action="" method="post">
                                            {%csrf_token%}
                                            <div class="form-group">
                                                {{ form.old_pwd }}
                                                <label for="id_old_pwd">原密码</label>
                                            </div>
			                                
											<div class="form-group">
												{{ form.new_pwd }}
												<label for="id_new_pwd">新密码</label>
											</div>
											<div class="form-group">
												{{ form.new_pwd2 }}
												<label for="id_new_pwd2">确认密码</label>
											</div>
											
											<!--<div class="form-group">
												<label>辅导员修改以下内容</label>
												<p class="form-control-static">email@example.com</p>
                                            <div class="card-actionbar">-->

											<div class="card-actionbar-row">
												<button class="btn btn-flat btn-primary ink-reaction" type="submit">确认</button>
											</div>
										</div>
											</div>
										</form>
									</div><!--end .card-body -->
								</div><!--end .card -->
							</div>

</section>


{% endblock %}