{% extends "app/layout.html" %}

{% block content %}

<html>
<head>
	<title>更改权限</title>
   
</head>
<body style="font-family:'Microsoft YaHei'">
	<h1 style="text-align:center">更改权限</h1>
	{% for item in error %}
		<p style="color:red;"><b>{{item}}</b></p>
	{% endfor %}
		 <p style="text-align:center;font-size:x-large"><b>用户名为{{username}}</b></p>
	<form action="" method="post">
		<center>
        <table>
			{{ form.as_table }}
		</table>
		
		<input type="submit" value="确定" class="btn btn-default">
        </center>
	</form>
</body>
</html>

{% endblock %}