<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
	<h2>项目列表</h2>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>组织类型</th>
				<th>组织名称</th>
                <th>学生干部名称</th>
                <th>其他信息</th>
                {% if can == False %}<th>查看详细信息</th>{% endif %}
                {% if can == True %}<th>审核</th>{% endif %}
			</tr>
		</thead>
		<tbody>
            {% for project in projects %}
			<tr>
				<td>{{project.organizitionType}}</td>
				<td>{{project.organizitionName}}</td>
                <td>{{project.rankName}}</td>
                <td>Anna</td>
                {% if can == True %}<td><a class="btn btn-info" href= "/researchProject/{{project.id}}" >审核</a></td>{% endif %}
                {% if can == False %}<td><a class="btn btn-info" href= "/ResearchProjectDetail/{{project.id}}" >查看</a></td>{% endif %}
			</tr>
            {% endfor %}
		</tbody>
	</table>
</div>
    {% if alert != '' %}
    <script>
        alert("{{alert}}");
    </script>
    {% endif %}
</body>
</html>