{% extends "app/layout.html" %}


{% block content %}

<!DOCTYPE html>
<html>

<body>

<div class="container">
	<h2>管理实习：以下学生申请加入实习或已加入你的实习（这个文字看情况改）</h2>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>学生学号</th>
                <th>学生详情</th>
			</tr>
		</thead>
		<tbody>
            {% for project in projects %}
			<tr>
				<td>{{project.StudentNum.StudentNum}}</td>
                {% if project == '待审核' %}<td><a class="btn btn-info" href= "/InternshipSDetail/{{project.id}}" >审核</a></td>{% endif %}
                {% if project == '通过' %}<td><a class="btn btn-info" href= "/InternshipSDetail/{{project.id}}" >查看</a></td>{% endif %}
			</tr>
            {% endfor %}
		</tbody>
	</table>
</div>
</body>
{% endblock %}