{% extends "app/layout.html" %}


{% block content %}

<!DOCTYPE html>

<body>
<div class="container">
	<h2>活动列表</h2>   
    {% if type == '学生端' %}
    <p><a class="btn btn-primary" href= "/create/{{rankname}}" >创建活动</a></p>
    <h4>已通过审核</h4>  
    <table class="table table-hover">
		<thead>
			<tr>
				<th>活动类型</th>
				<th>活动名称</th>
                <th>查看详细信息</th>
			</tr>
		</thead>
		<tbody>
            {% for rankname,link in linksP.items %}
			<tr>
				<td>{{link.rtype}}</td>
				<td>{{rankname}}</td>
                <td></td>
                <td><a class="btn btn-info" href= "/Detail/{{link.id}}" >查看</a></td>
			</tr>
            {% endfor %}
		</tbody>
	</table>
    <h4>申请中</h4> 
    <table class="table table-hover">
		<thead>
			<tr>
				<th>活动类型</th>
				<th>活动名称</th>
                <th>查看详细信息</th>
			</tr>
		</thead>
		<tbody>
            {% for rankname,link in linksDS.items %}
			<tr>
				<td>{{link.rtype}}</td>
				<td>{{rankname}}</td>
                <td></td>
                <td><a class="btn btn-info" href= "/Detail/{{link.id}}" >查看</a></td>
			</tr>
            {% endfor %}
		</tbody>
	</table>
    <h4>未通过</h4>    
    <table class="table table-hover">
		<thead>
			<tr>
				<th>活动类型</th>
				<th>活动名称</th>
                <th>查看详细信息</th>
			</tr>
		</thead>
		<tbody>
            {% for rankname,link in linksNP.items %}
			<tr>
				<td>{{link.rtype}}</td>
				<td>{{rankname}}</td>
                <td></td>
                <td><a class="btn btn-info" href= "/Detail/{{link.id}}" >查看</a></td>
			</tr>
            {% endfor %}
		</tbody>
	</table>
    <a class="btn btn-info" href= "/first" >返回个人主页</a>
    {% endif %}

    {% if type == '教师端' or type == '管理员'%}
    <h4>待审核</h4>  
    <table class="table table-hover">
		<thead>
			<tr>
				<th>活动类型</th>
				<th>活动名称</th>
                <th>查看详细信息</th>
			</tr>
		</thead>
		<tbody>
            {% for rankname,link in linksP.items %}
			<tr>
				<td>{{link.rtype}}</td>
				<td>{{rankname}}</td>
                <td></td>
                <td><a class="btn btn-info" href= "/Check/{{link.id}}" >审核</a></td>
			</tr>
            {% endfor %}
		</tbody>
	</table>
    <h4>已通过</h4> 
    <table class="table table-hover">
		<thead>
			<tr>
				<th>活动类型</th>
				<th>活动名称</th>
                <th>查看详细信息</th>
			</tr>
		</thead>
		<tbody>
            {% for rankname,link in linksDS.items %}
			<tr>
				<td>{{link.rtype}}</td>
				<td>{{rankname}}</td>
                <td></td>
                <td><a class="btn btn-info" href= "/Detail/{{link.id}}" >查看</a></td>
			</tr>
            {% endfor %}
		</tbody>
	</table>
    <h4>未通过</h4> 
    <table class="table table-hover">
		<thead>
			<tr>
				<th>活动类型</th>
				<th>活动名称</th>
                <th>查看详细信息</th>
			</tr>
		</thead>
		<tbody>
            {% for rankname,link in linksDS.items %}
			<tr>
				<td>{{link.rtype}}</td>
				<td>{{rankname}}</td>
                <td></td>
                <td><a class="btn btn-info" href= "/Detail/{{link.id}}" >查看</a></td>
			</tr>
            {% endfor %}
		</tbody>
	</table>
    {% endif %}
</div>
</body>
{% endblock %}