{% extends "app/layout.html" %}

{% block content %}
<html>
<head>
	<title>审核论文</title>
   
</head>
<body>
<div style="margin:30px">
    	<h1 style="text-align:center">审核论文</h1>
    <center>
 <div class="container" >            
	<table class="table table-striped">
		<tbody>
			<tr>
				<td><b>项目名称：</b></td>
				<td>{{project.rankName}}</td>
			</tr>
            <tr>
				<td><b>期刊名称：</b></td>
				<td>{{project.journalName}}</td>
			</tr>
            <tr>
				<td><b>作者等级：</b></td>
				<td>{{project.AuthorRanking}}</td>
			</tr>
            <tr>
				<td><b>支撑文档：</b></td>
				<td>{{project.SupportText}}</td>
			</tr>
			<tr>
				<td><b>论文作者学号：</b></td>
				<td>{{project.student}}</td>
			</tr>
			<tr>
				<td><b>论文发表时间：</b></td>
				<td>{{project.startingTime}}</td>
			</tr>
		</tbody>
	</table>
</div>
	<form action="" method="post">
		<table>
			{{ form.as_table }}
		</table>
		
		<input type="submit" name="passyes" value="通过" class="btn btn-default">
        <input type="submit" name="passno" value="拒绝" class="btn btn-default">
	</form>
    </center>
</div>
</body>
</html>
{% endblock %}