{% extends "app/layout.html" %}

{% block content %}
<html>
<head>
	<title>活动审核</title>
   
</head>
<body>
<div style="margin:30px">
    	<h1 style="text-align:center">活动审核</h1>
    <center>
 <div class="container" >            
	<table class="table table-striped">
		<tbody>
			<tr>
				<td><b>申请者学号：</b></td>
				<td>{{project.teacher}}</td>
			</tr>
            <tr>
				<td><b>申请者姓名：</b></td>
				<td>{{project.teacher.rankName}}</td>
			</tr>
            {% for key,value in FPS.items%}
			<tr>
				<td><b>{{key}}：</b></td>
				<td>{{value}}</td>
			</tr> 
            {%endfor%}
		</tbody>
	</table>
</div>
	<form action="" method="post">
		<table>
			{{ form.as_table }}
		</table>
		
		<input type="submit" name="passyes" value="通过" class="btn btn-default">
        <input type="submit" name="passno" value="拒绝" class="btn btn-default">
	</form>
    </center>
</div>
</body>
</html>
{% endblock %}