{% extends "app/layout.html" %}

{% block content %}

<body style="font-family:'Microsoft YaHei'">
    <center>
    {% for item in error %}
		<p style="color:red;">{{item}}</p>
	{% endfor %}
         <p>ResearchProjectDetail如下:</p>
   <table>
           <tr >
               <td>{{project.rankName}}</td>
               <td>{{project.startingTime}}</td>
               <td>{{project.teacher}}</td>
               <td>{{project.SupportText}}</td>
               <td><a class="btn btn-info" href= "{% url 'JoinResearchProject' project.id %}" >加入</a></td>
           </tr>
   </table>
</body>