{% extends "app/layout.html" %}

{% block content %}
<html>
<head>
    <title>重设密码</title>
</head>
<body>
    <h1 style="text-align:center">重设密码</h1>

    {% if form.errors %}
        <p style="color: red;">
            {# pulralize 是filter，用来判断是否为添加's'来表示单词的复数形式#}
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <center>
            <table>
            {# 可以使用as_ul, as_p来改变格式 #}
            {{ form.as_table }}
        </table>
        <input type="submit" value="确认" class="btn btn-default">
        </center>
    </form>
</body>
</html>
{% endblock %}