{% extends "app/layout.html" %}

{% block content %}

<body>
         <p>如下:</p>
   <table>
       {% for project in projects %}
           <tr >
               <td>{{project.rankName}}</td>
               <td>{{project.startingTime}}</td>
               <td>{{project.teacher}}</td>
               {% if can == False %}<td><a class="btn btn-info" href= "/ResearchProjectDetail/{{project.id}}" >查看</a></td>{% endif %}
               {% if can == True %}<td><a class="btn btn-info" href= "/researchProject/{{project.id}}" >审核</a></td>{% endif %}
           </tr>
       {% endfor %}
   </table>
    {% if alert != '' %}
    <script>
        alert("{{alert}}");
    </script>
    {% endif %}
</body>
{% endblock %}