{% extends "app/layout.html" %}

{% block content %}
<html>
<head>
	<title>审核学生干部</title>
   
</head>
<body>
<div style="margin:30px">
    	<h1 style="text-align:center">审核学生干部</h1>
    <center>
 <div class="container" >            
	<table class="table table-striped">
		<tbody>
			<tr>
				<td><b>学生干部名称：</b></td>
				<td>{{project.rankName}}</td>
			</tr>
            <tr>
				<td><b>组织类型：</b></td>
				<td>{{project.organizitionType}}</td>
			</tr>
            <tr>
				<td><b>组织名称：</b></td>
				<td>{{project.organizitionName}}</td>
			</tr>
            <tr>
				<td><b>支撑文档：</b></td>
				<td>{{project.SupportText}}</td>
			</tr>
			<tr>
				<td><b>学生学号：</b></td>
				<td>{{project.student}}</td>
			</tr>
		</tbody>
	</table>
</div>
	<form action="" method="post">
		<table>
			{{ form.as_table }}
		</table>
		
		<input type="submit" name="passyes" value="通过" class="btn btn-default">
        <input type="submit" name="passno" value="拒绝" class="btn btn-default">
	</form>
    </center>
</div>
</body>
</html>
{% endblock %}