{% extends "app/layout.html" %}

{% block content %}
<html>
<head>
	<title>审核志愿活动</title>
   
</head>
<body>
<div style="margin:30px">
    	<h1 style="text-align:center">审核志愿活动</h1>
    <center>
 <div class="container" >            
	<table class="table table-striped">
		<tbody>
			<tr>
				<td><b>志愿活动名称：</b>：</td>
				<td>{{project.rankName}}</td>
			</tr>
			<tr>
				<td><b>志愿活动主办方：</b></td>
				<td>{{project.teacher}}</td>
			</tr>
			<tr>
				<td><b>志愿活动开始时间：</b></td>
				<td>{{project.startingTime}}</td>
			</tr>
		</tbody>
	</table>
</div>
	<form action="" method="post">
		<table>
			{{ form.as_table }}
		</table>
		
		<input type="submit" name="passyes" value="通过" class="btn btn-default">
        <input type="submit" name="passno" value="拒绝" class="btn btn-default">
	</form>
    </center>
</div>
</body>
</html>
{% endblock %}