{% extends "app/layout.html" %}

{% block content %}
<html>
<head>
    <title>活动列表</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="styles/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles/main.css">
    <style type="text/css">
    #apDiv1 {
	position: absolute;
	width: 1387px;
	height: 546px;
	z-index: 2;
	left: 253px;
	top: 180px;
}
    </style>
</head>
<body>
    <div>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" id="sidebar"
                data-position="right" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;" name="sidebar">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">
                    
                     <div class="clearfix"></div>
                    <li class="active"><a onClick="vl()"><i class="fa fa-tachometer fa-fw">
                    </i><span class="menu-title" style="cursor:pointer">活动列表</span></a></li>

                    <li><a onClick="ds()"><i class="fa fa-envelope-o">
                    </i><span class="menu-title" style="cursor:pointer">查看待审核活动</span></a>
                      
                    </li>
                    <li><a onClick="np()"><i class="fa fa-bar-chart-o fa-fw">
                    </i><span class="menu-title" style="cursor:pointer">查看未通过活动</span></a>
                       
                    </li>
                    <li><a onClick="rank('科研立项')"><i class="fa fa-desktop fa-fw">
                    </i><span class="menu-title" style="cursor:pointer">科研立项</span></a>
                       
                    </li>
                    <li><a onClick="rank('思建活动')"><i class="fa fa-gift fa-fw">
                    </i><span class="menu-title" style="cursor:pointer">思建活动</span></a>
                       
                    </li>
                    <li><a onClick="rank('讲座')"><i class="fa fa-edit fa-fw">
                    </i><span class="menu-title" style="cursor:pointer">讲座</span></a>
                      
                    </li>
                    <li><a onClick="rank('志愿活动')"><i class="fa fa-th-list fa-fw">
                    </i><span class="menu-title" style="cursor:pointer">志愿活动</span></a>
                          
                    </li>
                    <li><a onClick="rank('校园活动')"><i class="fa fa-sitemap fa-fw">
                    </i><span class="menu-title" style="cursor:pointer">校园活动</span></a>
                      
                    </li>
                    <li><a onClick="rank('实践实习')"><i class="fa fa-file-o fa-fw">
                    </i><span class="menu-title" style="cursor:pointer">实践实习</span></a>
                       
                    </li>
                    <li><a onClick="rank('科研论文')"><i class="fa fa-gift fa-fw">
                    </i><span class="menu-title" style="cursor:pointer">科研论文</span></a>
                      
                    </li>
                    <li><a onClick="rank('学术竞赛')"><i class="fa fa-sitemap fa-fw">
                    </i><span class="menu-title" style="cursor:pointer">学术竞赛</span></a>
                      
                    </li>
                    
                    <li><a href="Animation.html"><i class="fa fa-slack fa-fw">
                    </i><span class="menu-title">返回我的课程列表</span></a></li>
                </ul>
            </div>
        </nav>
            <div id="page-wrapper">
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                  <div class="page-header pull-left">
                      <div class="page-title"></div>
                      
                      <li class="dropdown">
				        <a href="" class="dropdown-toggle" data-toggle="dropdown">
					        创建活动
					        <b class="caret"></b>
				        </a>
				        <ul class="dropdown-menu">
					        <li><a href="{% url 'create' 'ResearchProject'%}">科研立项</a></li>
					        <li><a href="{% url 'create' 'IdeologyConstruction'%}">思建活动</a></li>
					        <li><a href="{% url 'create' 'Lecture'%}">讲座</a></li>
					        <li><a href="{% url 'create' 'Volunteering'%}">志愿活动</a></li>
					        <li><a href="{% url 'create' 'SchoolActivity'%}">校园活动</a></li>
					        <li><a href="{% url 'create' 'Internship'%}">实践实习</a></li>
					        <li><a href="{% url 'create' 'Paper'%}">科研论文</a></li>
					        <li><a href="{% url 'create' 'Competition'%}">学术竞赛</a></li>
					        <li><a href="{% url 'create' 'StudentCadre'%}">学生干部经历</a></li>
					        <li><a href="{% url 'create' 'Exchange'%}">交流交换</a></li>
				        </ul>
			        </li>
                      <a class="btn btn-primary" href="{% url 'project'%}">查看活动</a>
                      <div>
                        <input name="filter_search" type="text" id="filter_search" placeholder="请输入活动关键字。" title="请输入活动关键字。" value="" size="40">
                        <button class="btn hasTooltip" type="submit" title="" data-original-title="搜索" onClick="search()">搜索</button> 
                        <button class="btn hasTooltip" type="button" title="" data-original-title="清除" onClick="reset()" >清空</button>
                      </div>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="apDiv1">
<br>
        <table class="table table-hover" id="mtab">
		<thead>
			<tr>
				<th>活动类型</th>
				<th>活动名称</th>
				<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th>查看活动详细信息</th>
			</tr>
		</thead>
        <tbody id="mainlist">

        </tbody>
	</table>

</div>
</body>
</html>

<script>
    var vl = [];var vlDS = [];var vlNP = [];var list = [];

    {%for viewlink in linksP%}
     vl.push(new Link("{{viewlink.n}}","{{viewlink.rn}}",{{viewlink.l.id}}))
    {%endfor%}    

    {%for viewlink in linksDS%}
     vlDS.push(new Link("{{viewlink.n}}","{{viewlink.rn}}",{{viewlink.l.id}}))
    {%endfor%}  

    {%for viewlink in linksNP%}
     vlNP.push(new Link("{{viewlink.n}}","{{viewlink.rn}}",{{viewlink.l.id}}))
    {%endfor%}

    vlP()

    function initial()
    {
    tab = document.getElementById("mtab");
    var num = tab.rows.length;
    if(num >1 )//清除表格
        {
        for(var i=1;i<num;i++){                           
        tab.deleteRow(1);
        }}
    for(var i = 0;i<list.length;i++){

    var tr = document.createElement("tr");  
    var new_obj = list[i];

    var tdn = document.createElement("td");  
    tdn.innerHTML = new_obj.n;
    var tdrn = document.createElement("td");  
    tdrn.innerHTML = new_obj.rn;
    var blank1 = document.createElement("td");  
    blank1.innerHTML = "";    
    var blank2 = document.createElement("td");  
    blank2.innerHTML = "";
    var tdadd = document.createElement("td");  
    tdadd.innerHTML = "<a class='btn btn-info' href= '/Detail/" + new_obj.id.toString() + "'>查看</a>";
    
    tr.appendChild(tdn); 
    tr.appendChild(tdrn);
    tr.appendChild(blank1); 
    tr.appendChild(blank2);  
    tr.appendChild(tdadd); 

    var listbody = document.getElementById("mainlist");  
    listbody.appendChild(tr);  
        }
    }

    function search()
    {
        var string = document.getElementById("filter_search").value;
        list = [];
        for(var i in vl)
        {
            if ( vl[i].rn.indexOf(string) > -1)
            {
                list.push(vl[i]);
            }
        }
        
        initial();
    }
    function reset() {
        document.id('filter_search').value='';
        search();
    }
    function rank(rankname){
        list = [];
        for(var i in vl)
        {
            if ( vl[i].n.indexOf(rankname) > -1)
            {
                list.push(vl[i]);
            }
        }
        
        initial();
    }
    function vlP(){
        list = vl;
        initial();
    }
    function ds(){
        list = vlDS;
        initial();
    }
    function np(){
        list = vlNP;
        initial();
    }
    function Link(n,rn,id) {
        this.n = n;
        this.rn = rn;
        this.id = id;
    }
</script>
{% endblock %}