<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="styles/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="styles/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles/all.css">
    <link type="text/css" rel="stylesheet" href="styles/main.css">
    <link type="text/css" rel="stylesheet" href="styles/zabuto_calendar.min.css">
    <style type="text/css">
    #apDiv1 {
	position: absolute;
	width: 1387px;
	height: 100%;
	z-index: 2;
	left: 253px;
	top: 82px;
}
    </style>
</head>
<body>
    <div>
        <div id="wrapper">
            <div id="page-wrapper">
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                  <div class="page-header pull-left">
                        <div class="page-title"></div>
                        <a class="btn btn-primary" href="">查看活动</a><a class="btn btn-primary" href="">创建活动</a><a class="btn btn-primary" href="">审核活动</a> <div><input name="filter_search" type="text" id="filter_search" placeholder="请输入活动关键字。" title="请输入活动关键字。" value="" size="40">
<button class="btn hasTooltip" type="submit" title="" data-original-title="搜索">搜索</button>
<button class="btn hasTooltip" type="button" onclick="document.id('filter_search').value='';this.form.submit();" title="" data-original-title="清除">清空</button></div>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div>、
    <div id="apDiv1"><body>
<br>
</div>
</body>
</html>
